# ---------- Telegram ----------
TOKEN=
ADMIN=

# ---------- AI APIs ----------
TAVILY_API=

GROQ_API=
GROQ_URL=
MODEL_VISION=
MODEL_SPEECH=

API=
URL=
MODEL=

# ---------- Settings ----------
MESSAGE=16