# ----------telega----------
TOKEN=Your telegram bot api
ADMIN=Admin accaunt

# ----------ai----------
TAVILY_API=your tavily api(web search)
API=your groq api or other
URL=https://api.groq.com/openai/v1 this is a groq url use it or change
HF_API=your hugging face api

# ----------models----------
MODEL=openai/gpt-oss-120b your model use it or change

# ----------settings----------
#this is how match messages the model will remember
MESSAGE=32